body {
	background-image: url("../img/test.png");
	background-size: cover;
}
.realbody{
	background-size: 50%;
	background-color: #323232a1;
	margin-left: 59%;
	margin-right:5%;
	border-radius: 10px 10px 10px 10px;
}