body {
	background-image: url("../img/test.png");	/*image en fond de la page*/
	background-size: cover;						/*taille du fond*/
}
.realbody{
	/*cadre du texte*/
	background-size: 50%;				/*taille du cadre*/
	background-color: #323232a1;		/*couleur du cadre*/
	margin-left: 59%;					/*distance entre le bord de la page et le cadre, à gauche*/
	margin-right:5%;					/*distance entre le bord de la page et le cadre, à droite*/
	border-radius: 10px 10px 10px 10px;	/*arrondit les coins*/
}

.aboutus{
	background:white;                  /*couleur de fond*/
	color:black;					   /*couleur du texte*/
	text-align:center;				   /*Alignement du texte au milieu*/
	margin-top:500px;				   /*Distance entre le texte realbody et aboutus*/
	padding-top:5px;				   /*Distance entre margin et aboutus*/
	padding-bottom:5px;				   /*Distance entre aboutus et le footer*/
}