body{
	background-image: url("../img/backgroundPage1.png");	/*image en fond de la page*/
	background-size: cover;									/*taille du fond*/
}

.realbody{
	/*mise en page du contenu*/
	color: #ffffffff; 					/*couleur du texte*/
	margin-top:5%;						/*espace entre le haut et le cadre du texte*/
	margin-right:5%;					/*espace entre la bordure droite et le cadre du texte*/
	margin-left:5%;						/*espace entre la bordure gauche et le cadre du texte*/
	font-size:xx-large;					/*taille de la police*/
	text-align: center;					/*centre le texte*/
	background-color: #323232a1;		/*couleur du cadre*/
	border-radius: 10px 10px 10px 10px;	/*arrondie les bords*/
	box-shadow:-5px 5px 0px #323232d0;	/*rajoute ombre aux  bord*/
}