body{
	background-image: url("../img/test.png");
}

.realbody{
color: black;
margin-top:5%;
margin-right:5%;
margin-left:5%;
font-size:xx-large;
text-align: center;	
background-color: #32323280;

}

}
.logos{
	width: 49%;
}
.ilustrations{
	width: 49%;	
}
.sources{
	text-align: center;
	background:#d0d0d0;
}
.sources-link{
	/* Espace entre les liens dans les sources */
	margin-left: 0.5%;
}
